.SignUp {
  display: block;
  width: 312px;
  margin: 0 auto;
  font-family: IranSans;
}

.SignUpTitle {
    color: #FF8877;
    margin-bottom: 3rem;
}

.SignUpForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.AlreadySignedUp {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.AlreadySignedUp p {
    font-size: small;
    color: #DE5C4B;
}

@media (min-width: 480px) {
  .SignUp {
    width: 65%;
  }
}

@media (min-width: 800px) {
  .SignUp {
    width: 520px;
  }
}
