.name{
    float: right;
    font-weight: bold;
}
.foodetails{
    float: left;
}
.meal{
    padding: 5px;
    background-color:#FFC5BA;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.recipebtn{
    float: right;
    font-family: IranSans;
    background-color: #FF8877;
    color: #FFFFFF;
    border-radius: 10px;
    border:none;
    width: 100px;
    height: 30px;
}
.recipebtn:hover{
    background-color: #ff644d;
}
@media (max-width:334px){
    .recipebtn{
        width: 70px;
        height: 25px;
        font-size: 12px;
        border-radius: 7px;
    }    
}
@media (min-width:480px){
    .header{
        width: 30%;
        margin-left: 35%;
    }
    .main{
        width: 60%;
        margin-left: 20%;
    }
    .recipebtn{
        width: 120px;
        height: 35px;
        margin-top: 20px;
        font-size: 18px;
    }
}