.outerBar{
    display: flex;
    background-color: #FF8877;
    box-sizing: border-box;
    width: 80%;
    height: 10vw;
    padding: 0px 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px 4px 0px 0px;
    align-items: center;
    font-size: 115%;
    font-weight: bold;
}
.extendButton{
    margin-right: auto;
    width: 6vw;
}
.innerBar{
    display: flex;
    background-color: #FFC5BA;
    box-sizing: border-box;
    width: 80%;
    height: 2vw;
    margin: auto;
    border-radius: 0px 0px 4px 4px;
    align-items: center;
    font-weight: bold;
}