.logo{
    float: right;
    color: #3C1913;
    margin: 5px;
}
.break{
    margin-top: 20px;
}
.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.allbtn{
    color: #FF8877;
    float: left;
    text-decoration: none;
    margin-left: 10%;
    padding-top: 5px;
}
@media (min-width : 480px){
    .categories{
        width: 400px;
        float: right;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .allbtn{
        float: right;
        margin-right: 10%;
    }
}