.picture{
    grid-row-start: 1;
    grid-row-end: 4;
}

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 0.5fr 0.2fr 0.3fr 0.4fr;
    background-color: #FFC5BA;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
}

.foodName{
    font-weight: bold;
    font-size: 4.5vw;
    justify-self: start;
    margin: 0px 12px 0px 0px;
    padding: 0px;
    align-self: center;
}

.instruction{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #FF8877;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    padding: 2vw 8vw;
    
}

.instruction p{
    color: #F6F5F5;
    font-size: 3vw;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.difficulty{
    justify-self: end;
    margin-top: auto;
}

.rating{
    justify-self: end;
}

.time{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    margin-bottom: auto;
}