.ChangePassword {
    display: block;
    width: 312px;
    margin: 0 auto;
    font-family: IranSans;
  }
  
  .ChangePasswordTitle {
      color: #FF8877;
      margin-bottom: 5rem;
  }
  
  .ChangePasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  @media (min-width: 480px) {
    .ChangePassword {
      width: 65%;
    }
  }
  
  @media (min-width: 800px) {
    .ChangePassword {
      width: 520px;
    }
  }