.RedSign {
    background-color: #FFB1A1;
    border-radius: 0.8rem;
    padding: 4px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RedSign img {
    width: 65%;
}

/* @media (min-width: 480px){
     .GreenSign{

    } 
} */