.ToggleButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    float: right;
    height: 70%;
    margin: auto 3px;
    width: 3rem;
}

.di {
    width: 70%;
    margin: 0;
    height: 3px;
    border-radius: 20px;
    background-color: #FF8877;
}
.des{
    margin: 4px;
}
@media (min-width: 480px){
    .ToggleButton {
        display: none;
    }
}