.ManageTagRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.158);
    padding: 0.5vw;
    width: 95%;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.267);
}

.ManageTagRow p {
    margin: 4px 0;
}

.Success {
    background-color: rgba(0, 230, 10, 0.7);
}

.Failure {
    background-color:rgba(230, 0, 10, 0.7);
}

.TagRowInputText {
    width: 100px;
}

.TagRowInputNumber {
    width: 125px;
}