.DropDownInput {
    width: 95%;
    box-sizing: border-box;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    position: relative;
    border-radius: 0.5rem;
}

.DropDownInput img {
    cursor: pointer;
}

.Straight {
    border-radius: 0.5rem 0.5rem 0 0;
}