body {
  text-align: center;
  align-items: center;
  background-color: #ffeeec;
}

.card {
  width: 100%;
  padding-top: 20px;
}
.RecipeCard {
  width: 100%;
  padding-top: 20px;
}
.addpln{
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}
.addfav{
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.buttons{
    
}
@media (min-width: 800px) {
  .Recipe {
    display:block;
  }

  .card {
    width: 35%;
    padding-top: 20px;
    margin-right: 10px;
    float: right;
  }
  
  .RecipeCard {
    width: 60%;
    padding-top: 20px;
    margin-left: 10px;
    float: left;
  }
  .Recipesteps {
    padding-top: 20px;
    margin-top: 20px;
  }
  .addpln{
    float: right;
    margin-right: -100%;
    margin-top: 360%;
  }
  .addfav{
    margin-right: -350%;
    margin-top: 360%;
  }
}

