.outerBar {
  display: flex;
  background-color: #FFC5BA;
  color: #3b1913;
  box-sizing: border-box;
  width: 90%;
  height: 20px;
  padding: 0px 10px;
  padding-top: 10px;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  font-family: IranSans;
  align-items: center;
  font-size: 70%;
  font-weight: bold;
  min-height: 35px;
  margin-top: 10px;
}
.extendButton {
  margin-right: auto;
  width: 6vw;
}
.innerBar {
  display: grid;
  background-color: #FFC5BA;
  color: #3b1913;
  font-family: IranSans;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 10px;
  text-align: right;
  padding-bottom: 10px;
  width: 90%;
  margin: auto;
  height: 10px;
  border-radius: 0px 0px 10px 10px;
  transition: height 0.4s;
}

.close {
  height: 10px;
}

.open {
  height: auto;
}
.amou {
  text-align: left;
  padding-left: 10px;
}
.line {
  height: 1px;
  width: 70%;
  margin-bottom: 5px;
  background-color: #ffeeec;
}
.steps{
  direction: rtl;
}
@media (min-width: 800px) {
  .outerBar {
    display: flex;
    box-sizing: border-box;
    width: 60%;
    font-family: IranSans;
    height: 30px;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
    font-size: 70%;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 20px;
  }
  .extendButton {
    display: none;
  }
  .innerBar {
    justify-content: space-evenly;
    box-sizing: border-box;
    font-family: IranSans;
    text-align: right;
    height: auto;
    width: 60%;
    padding-top: 20px;
    border-radius: 0px 0px 15px 15px;
    transition: height 0.4s;
    margin-left: 5%;
    margin-bottom: 20px;
    display: block;
  }
  .open {
    height: 600px;
  }
}
