body {
  text-align: center;
  align-items: center;
  background-color: #ffeeec;
}

.card {
  width: 100%;
  padding-top: 20px;
}
.RecipeCard {
  width: 100%;
  padding-top: 20px;
}

@media (min-width: 800px) {
  .Recipe{
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }

  .card {
    width: auto;
    grid-row: 1/2;
    grid-column: 2/2;
    padding-top: 20px;
    margin-right: 10px;
  }

  .RecipeCard {
    width: auto;
    grid-column: 1/2;
    grid-row: 1/2 cover;
    padding-top: 20px;
    margin-left: 10px;
  }

}
