.container{
    display: grid;
    grid-template-columns: 25% 25% 35% 15%;
    background-color: rgba(128, 128, 128, 0.158);
    margin: auto;
    margin-top: 1vh;
    margin: 1vh 2vw;
    padding: 0.4vw 2vw;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.267);
}

.username{
    margin: 0px;
    margin-left: auto;
    font-size: max(1.2vw,15px);
}

.newPasswordContainer{
    margin-left: auto;
}

.newPassword{
    width: 8vw;
    height: 3vh;
    font-size: max(1.2vw,14px);
    margin-left: 1vw;
}

.newPasswordSubmitButton{
    font-size: max(1.2vw,14px);
    border-radius: 10px;
    border-width: 1px;
    width: 4vw;
    padding: 0.3vw;
}

.name{
    margin: 0px;
    margin-left: auto;
    font-size: max(1.2vw,15px);
}

.deleteButton{
    margin-right: auto;
    font-size: max(1.2vw,14px);
    border-radius: 10px;
    border-width: 1px;
    width: 6vw;
    padding: 0.3vw;
}
