.outerBar{
    display: flex;
    background-color: #FF8877;
    box-sizing: border-box;
    width: 80%;
    height: 4.7vh;
    padding: 0px 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px 4px 0px 0px;
    align-items: center;
    font-size: 115%;
    font-weight: bold;
    min-height: 35px;
}
.extendButton{
    margin-right: auto;
    width: 6vw;
}
.innerBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    background-color: #FFC5BA;
    box-sizing: border-box;
    width: 80%;
    height: 1vh;
    margin: auto;
    border-radius: 0px 0px 4px 4px;
    font-weight: bold;
    transition: height 0.4s;
}

.close{
    height: 1vh;
}

.open{
    height: 21vh;
}

@media (min-width: 480px){
    .outerBar{
        height: 6vh;
        width: 60vw;
    }
    .innerBar{
        height: 1.5vh;
        width: 60vw;
    }
    .open{
        height: 27vw;
    }
    .close{
        height: 1.5vh;
    }
    .extendButton{
        height: 4vh;
        width: auto;
    }
}