.ChooseNewPassword {
    display: block;
    width: 312px;
    margin: 0 auto;
    font-family: IranSans;
  }
  
  .ChooseNewPasswordTitle {
      color: #FF8877;
      margin-bottom: 3rem;
  }
  
  .ChooseNewPasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  @media (min-width: 480px) {
    .ChooseNewPassword {
      width: 65%;
    }
  }
  
  @media (min-width: 800px) {
    .ChooseNewPassword {
      width: 520px;
    }
  }