.scroll {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  direction: rtl;
  height: 350px;
  width: 100%;
  padding-top: 30px;
}
.background{
  top: 0;
  right: 0;
  position: absolute;
  height: 450px;
  z-index: -1;
}

.title {
  color: #3b1913;
  font-size: 20px;
  float: right;
  padding-top: 40px;
  padding-right: 20px;
}
.card{
  position: relative;
  height: 400px;
  width: 100%;
}

@media(min-width :480px){
  .card{
    margin-top: 250px;
  }
}