.image {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  float: right;
  z-index: -1;
}
.name {
  float: right;
  margin-top: 44px;
  margin-right: -100px;
  width: 100px;
  height: 30px;
  background-color: rgba(255, 197, 186, 0.9);
  font-family: IRANSans;
  font-size: 14px;
  color: #3b1913;
  border-radius: 0px 0px 15px 15px;
}
.card {
  background: rgba(255, 136, 119, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: -10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 280px;
  margin-right: 10px;
  margin-left: 10px;
}
.card:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5), 0px 7px 10px rgba(0, 0, 0, 0.1);
}

.recipebtn {
  float: right;
  font-family: IranSans;
  background-color: #ff8877;
  margin-top: 20px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
}
.recipebtn:hover {
  background-color: #ff644d;
}
.hardness {
  margin-top: 80px;
  transform: scaleX(-1);
}
.time {
  margin-top: -30px;
  padding-left: 10px;
}
.rate {
  margin-top: -20px;
  transform: scaleX(-1);
}
