.profileCard{
    display: grid;
    grid-template-columns: 10% 10% 60% 20%;
    margin: 0vh 4vh 0px 4vh;
    align-items: center;
}

.profileCardTextless{
    display: grid;
    grid-template-columns: 10% 70% 0% 20%;
    margin: 0vh 4vh 0px 4vh;
    align-items: center;
}

.emailIcon {
    width: 4vh;
    justify-self: end;
    margin: 10px 20px;
}

.title{
    display: inline;
    justify-self: start;
    margin: 10px 10px;
    font-size: 4vw;
    font-weight: bold;
}

.cardText{
        font-size: 5vw;
        font-weight: bold;
        justify-self: center;
        margin-top: 80px;
}

.arrow{
    justify-self: end;
    width: 3.5vw;
}

.border{
    background-color:  #EF6637;
    height: 0.15vw;
    width: 70vw;
    margin: auto;
}

@media (min-width: 480px){
    .profileCard{
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        grid-template-columns: 10% 10% 70% 10%;
    }
    .profileCardTextless{
        margin-top: 30px;
        margin-bottom: 10px;
        grid-template-columns: 10% 80% 0% 10%;
    }
    
    .emailIcon {
        width: 6vh;
        justify-self: end;
        margin: 10px 20px;
    }
    
    .title{
        display: inline;
        justify-self: start;
        margin: 10px 10px;
        font-size: 2.8vh;
        font-weight: bold;
    }
    
    .cardText{
        font-size: max(14px,2.2vw);
        font-weight: bold;
        margin: 10px 20px;
    }
    
    .arrow{
        justify-self: center;
        width: max(1.5vw,15px);
    }
}