.profileCard{
    display: grid;
    grid-template-columns: 10% 30% 50% 10%;
    grid-template-rows: 0.5fr 0.2fr;
    margin: 0vh 4vh 0px 4vh;
    align-items: center;
}

.profileCardTextless{
    display: grid;
    grid-template-columns: 10% 70% 0% 20%;
    margin: 10px 4vh 0px 4vh;
    align-items: center;
}

.emailIcon {
    justify-self: center;
    margin: 10px 20px;
    width: fit-content;
    grid-column-start: 1;
    margin-left: 40px;
}

.title{
    display: inline;
    justify-self: start;
    margin: 10px 10px;
    font-size: 4vw;
    font-weight: bold;
}

.cardText{
        font-size: 5vw;
        font-weight: bold;
        justify-self: end;
        grid-row-start: 2;
        grid-column-start: 3;
        margin-bottom: auto;
        margin-top: 0px;
}

.arrow{
    justify-self: end;
    width: 3.5vw;
    grid-column-start:4 ;
}
.noArrow{
    display: none;
}

.border{
    background-color:  #EF6637;
    height: 0.15vw;
    width: 70vw;
    margin: auto;
}

.borderTextless{
    background-color:  #EF6637;
    height: 0.15vw;
    width: 70vw;
    margin: auto;
    margin-top: 15px;

}

@media (min-width: 480px){
    .profileCard{
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        grid-template-columns: 10% 10% 70% 10%;
    }
    .profileCardTextless{
        margin-top: 30px;
        margin-bottom: 10px;
        grid-template-columns: 10% 80% 0% 10%;
    }
    
    .emailIcon {
        justify-self: center;
        margin: 10px 20px;
        width: 25%;
        grid-column-start: 1;
        margin-left: 40px;
    }
    
    .title{
        display: inline;
        justify-self: start;
        margin: 10px 10px;
        font-size: 2.8vh;
        font-weight: bold;
    }
    
    .cardText{
        font-size: max(14px,2.2vw);
        font-weight: bold;
        margin: 10px 20px;
    }
    
    .arrow{
        justify-self: center;
        width: max(1.5vw,15px);
    }

    .noArrow{
        display: none;
    }
}