.my {
  background-color: #ffc5ba;
  width: 300px;
  border-radius: 10px;
  height: 320px;
  margin-top: 20px;
}
.rate {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.btn {
  width: 15px;
  height: 15px;
  padding-top: 0px;
  margin-top: -5px;
  padding-right: 10px;
  padding-left: 10px;
}

.profpic {
  width: 50px;
  border-radius: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
.profname {
  font-size: 16px;
  color: #502e29;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.textarea {
  float: right;
  width: 80%;
  direction: rtl;
  height: 100px;
  font-size: 16px;
  font-family: IranSans;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5%;
  background-color: #ffeeec;
  border: none;
  outline: none;
  resize: none;
  color: #502e29;
  margin-top: 20px;
}
.button {
  float: left;
  border: none;
  border-radius: 5px;
  background-color: #ff8877;
  font-family: IranSans;
  color: #ffeeec;
  width: 70px;
  height: 30px;
  margin-left: 10%;
  margin-top: 10px;
}
@media (min-width: 480px) {
  .my {
    width: 450px;
  }
}
