.PublicInput {
    color: #8E807F;
    background-color: rgba(255, 197, 186, 0.6);
    border-radius: 0.2rem;
    margin: 10px auto;
    border: none;
    width: 300px;
    padding: 5px;
    direction: rtl;
    font-family: IranSans;
}

.LargeInput {
    width: 90%;
    /* padding: 10px; */
    margin: 5px 0;
    font-size: large;
    border-radius: 0.5rem;
}

.Bright {
    background-color: whitesmoke;
}

.PublicInput:focus {
    outline: none;
}

.SmallInput {
    width: 144px;
}

.Centered {
    text-align: center;
}

.LeftToRight {
    direction: ltr;
}

.MenuInput {
    cursor: pointer;
    margin: 0;
    border-radius: 0.2rem 0.2rem 0 0;
}

.MenuInputClosed {
    border-radius: 0.2rem;
}

.MenuInput:hover {
    background-color: rgba(245, 245, 245, 0.603);
}

@media (min-width: 480px){
    .PublicInput {
        width: 62.5vw;
    }

    .SmallInput {
        width: 30vw;
    }

    .LargeInput {
        width: 90%;
    }
}

@media (min-width: 800px){
    .PublicInput {
        width: 500px;
    }

    .SmallInput {
        width: 240px;
    }

    .LargeInput {
        width: 90%;
    }
}
