.EmailChooseForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: IranSans;
}

.PhoneBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.Leftened {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
