.ForgotPassword {
    display: block;
    width: 312px;
    margin: 0 auto;
    font-family: IranSans;
  }

  .ForgotPasswordTitle {
    color: #FF8877;
    margin-bottom: 5rem;
  }

  .EmailForm,
  .CodeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

  @media (min-width: 480px) {
    .ForgotPassword {
      width: 65%;
    }
  }
  
  @media (min-width: 800px) {
    .ForgotPassword {
      width: 520px;
    }
  }