.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 90%;
}

.NavigationItem a {
    color: #FF8877;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    direction: rtl;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
}


.NavigationItem p {
    align-self: center;
}


.NavItemImage {
    height: 20px;
    display: block;
    padding-top: 15px;
    padding-left: 10px;
    direction: rtl;
}

@media (min-width: 480px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavigationItem:last-of-type{
        justify-self: flex-end;
    }
    
    .NavigationItem a {
        color: #FF8877;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 3px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        border-bottom: 3px solid #FF8877;
    }

    .NavItemImage {
        display: inline;
        width: auto;
        padding-top: 0;
    }
    @media (max-width: 680px) {
        .NavigationItem {
            font-size: 70%;
        }
        .NavItemImage{
            height: 15px;
        }
    }
}

